JSON_for_IO-Link_Test_TC_Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generated by XMLSpy v2024 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="body">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="check" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="check">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="value" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
			<xs:attribute name="name" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="parameter">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="value"/>
			</xs:sequence>
			<xs:attribute name="name" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="parameters">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="parameter" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="precondition">
		<xs:complexType>
			<xs:attribute name="portMode" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="request">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="parameters" minOccurs="0"/>
				<xs:element name="body" minOccurs="0"/>
				<xs:element ref="results"/>
			</xs:sequence>
			<xs:attribute name="url" type="xs:string" use="required"/>
			<xs:attribute name="method" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="results">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="status_code" minOccurs="0"/>
				<xs:element ref="body" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="status_code">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="check"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="step">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="request"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="steps">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="step"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="testcase">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="precondition" minOccurs="0"/>
				<xs:element ref="variables" minOccurs="0"/>
				<xs:element ref="steps"/>
			</xs:sequence>
			<xs:attribute name="id" use="required" type="xs:string"/>
			<xs:attribute name="group" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="testcases">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="testcase" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="value">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="ref" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="variable">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="value" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="dataset" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="variables">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="variable"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>