JSON_for_IO-Link_Test_TCG_Supplement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2024 (x64) (http://www.altova.com) by Attila Gecse (TEConcept Hungary Kft.) -->
<!-- W3C Schema generated by XMLSpy v2024 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="condition">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="portconfiguration"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="constrain">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="description" minOccurs="0"/>
				<xs:element ref="condition" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="request" minOccurs="0"/>
				<xs:element ref="response" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="constrains">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="constrain" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="endpoint">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="method" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="uri" type="xs:string" use="required"/>
			<xs:attribute name="facet" type="xs:string" use="required"/>
			<xs:attribute name="endpointGroup" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="endpoints">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="endpoint" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="method">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="constrains" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="excludeFromAutoGenTests" type="xs:boolean" default="false"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="portconfiguration">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="property">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="value" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="required" type="xs:boolean"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="request">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="property" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="response">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="property" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="value" type="xs:string"/>
</xs:schema>